.filter-chip {
    color: var(--main-color-brown);
    border: 1px solid var(--main-color-brown);
    padding: 2px 10px;
    border-radius: 15px; 
    background: none;
}

.filter-chip.active, .filter-chip:hover {
    background-color: var(--main-color-brown);
    color: var(--main-color-white);
}

.btn {
    border: 1px solid var(--main-color-brown);
    color: var(--main-color-brown);
}

.btn:hover {
    background-color: var(--main-color-brown);
    color: var(--main-color-white);
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}