.filter-chip {
    color: var(--main-color-brown);
    border: 1px solid var(--main-color-brown);
    padding: 2px 10px;
    border-radius: 15px;
    background: none;
}

.filter-chip.active,
.filter-chip:hover {
    background-color: var(--main-color-brown);
    color: var(--main-color-white);
}

.btn {
    border: 1px solid var(--main-color-brown);
    color: var(--main-color-brown);
}

.btn:hover {
    background-color: var(--main-color-brown);
    color: var(--main-color-white);
}

.filter-options {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: 0 0 0 .25rem var(--main-color-shadow)
}

.form-control:focus,
.form-select:focus {
    border-color: var(--light-brown)
}

h4,
h5 {
    color: var(--main-color-brown);
}

.book-card {
    color: var(--main-color-brown);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}