@font-face {
    font-family: Inter;
    src: url('./assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('woff2'), url('./assets/fonts//Inter-VariableFont_opsz,wght.ttf') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Inter', sans-serif;
}

:root {
    --main-color-brown: #47341c;
    --main-color-white: #fcf4e4;
    --text-size: 14pt;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    flex: 1 0 auto;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    flex-shrink: 0;
    margin-top: auto;
}